body {
  background: white;
}

.card img {
  height: 180px;
  object-fit: cover;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.card {
  width: 300px;
  flex-shrink: 0;
}